.main-image-section {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.image-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit:  fill; /* Ensures the image covers the container while maintaining aspect ratio */
        object-position: center; /* Centers the image */
    }
