@inject NavigationManager Navigation
@inject DomainStructureState workflowStateService

@if (Link is not null)
{
    <ul class="link-list">
        @if (Link?.LoadingPageType == "Image")
        {
            <li class="link-item">
                <a @onclick="IsOpen ? null : NavigateToWorkScreen"
                   class="@(IsOpen ? "active-link" : "")">
                    @Link.KinsPageName
                </a>
            </li>
        }
       
    </ul>
}

@code {
    [Parameter]
    public WorkflowModel? Link { get; set; }

    [Parameter]
    public bool IsOpen { get; set; } = false;


    [Parameter]
    public string? Address { get; set; }


    private List<WorkflowModel>? uniqueWorkflows;

    private void NavigateToWorkScreen()
    {
        if (!string.IsNullOrEmpty(Address))
        {
            Navigation.NavigateTo(Address);
        }
    }
}
