<div class="end-box">
    <div class="image-section">
        <img src='thumbnailImages/Finish.png' alt="Card Image">
    </div>
    <div class="text-section">
        Process Finished
    </div>
</div>



