<div class="arrow-left">
    <svg height="100%" width="100%">
        <defs>
            <marker id="arrowhead-left" markerWidth="4" markerHeight="4" refX="0" refY="2" orient="auto" markerUnits="strokeWidth">
                <path d="M0,0 L4,2 L0,4 Z" fill="black" />
            </marker>
        </defs>
        <line x1="100%" y1="50%" x2="15%" y2="50%" stroke="black" stroke-width="2" marker-end="url(#arrowhead-left)" />
    </svg>
</div>
