/* Arrow container styling */
.arrow-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

    /* SVG styling within arrows */
    .arrow-right svg {
        display: block;
    }
