<div class="arrow-up">
    <svg height="100%" width="100%">
        <defs>
            <marker id="arrowhead-up" markerWidth="4" markerHeight="4" refX="2" refY="2" orient="auto" markerUnits="strokeWidth">
                <path d="M0,4 L4,2 L0,0 Z" fill="black" />
            </marker>
        </defs>
        <line x1="50%" y1="100%" x2="50%" y2="10%" stroke="black" stroke-width="2" marker-end="url(#arrowhead-up)" />
    </svg>
</div>