<div class="N-shaft">
    <svg height="100%" width="100%">
        <line x1="0" y1="50%" x2="100%" y2="50%" stroke="black" stroke-width="2" />
        <text x="50%" y="45%" font-size="16" font-family="Arial" fill="black">Y</text>
    </svg>
</div>